.page-id-container {
  background-color: #da374b;
  color: white;
  height: 25px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
  cursor: pointer;
}

.page-id-container:hover {
  background-color: white;
  border: 1px solid #da374b;
  color: #da374b;
}
