@import url("https://fonts.googleapis.com/css2?family=Creepster&family=Darker+Grotesque:wght@300..900&display=swap");

body {
  width: 300px;
  --heading-font: "Darker Grotesque", sans-serif;
  --grapefruit: #da374b;
}

.title {
  font-family: var(--heading-font);
  font-weight: 300;
  text-align: center;
}

.grapefruit {
  color: var(--grapefruit);
  font-weight: 800;
}

.copy-btn {
  background-color: white;
  border-radius: 25px;
  border: 1px solid var(--grapefruit);
  height: 35px;
  padding: 0px 15px;
  color: black;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#page-id {
  text-align: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copy-btn:hover {
  background-color: var(--grapefruit);
  color: white;
}

.page-history-link {
  cursor: pointer;
  color: var(--grapefruit);
}

.page-history-display {
  list-style: none;
  padding: 1px;
}

.icon {
  height: 15px;
  padding: 2px 15px 2px 0px;
  cursor: pointer;
}

.history-icon {
  height: 15px;
  padding: 2px 15px 2px 0px;
  cursor: pointer;
}

.history-li {
  display: flex;
  align-items: center;
  padding-top: 5px;
}

.history-link {
  text-decoration: none;
  color: gray;
}

.history-link:hover {
  text-decoration: underline;
  color: var(--grapefruit);
}

.settings-title {
  font-weight: 800;
  font-size: 2em;
}

#settings-icon {
  position: fixed;
  right: 0px;
  z-index: 10;
}

#settings-panel {
  position: fixed;
  top: 0;
  right: -350px;
  width: 250px;
  height: 275px;
  background-color: #f1f1f1;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  transition: right 0.3s ease-in-out;
  background-color: #f8f8f8;
}

#settings-panel.active {
  right: 0px;
}
